.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000000000000000;
  .deletePopupContainer {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .deleteText {
      font-family: Roboto serif;
      font-size: 16px;
      color: #4a3423;
    }
    .deleteButtonContainer {
      padding: 20px;
      display: flex;
      gap: 20px;
      .shelfDeleteButoon {
        background-color: #b8dc8c;
        border-radius: 5px;
        border: none;
        color: white;
        width: 80px;
        height: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      .shelfDeleteButoon:hover {
        background-color: #a3c88b;
      }
      .shelfCancelButoon {
        background-color: hsla(2, 36%, 33%, 0.6);
        border-radius: 5px;
        border: none;
        color: white;
        width: 80px;
        height: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      .shelfCancelButoon:hover {
        background-color: hsla(2, 36%, 33%, 0.7);
      }
    }
  }
}
