.container {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff8f;
  border-radius: 5px;
  height: 80px;
  width: auto;
  font-family: Roboto serif;
  color: #543e2e;
  padding: 5px;
  .popupOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .deletePopupContainer {
      background-color: white;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 400px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      .deleteButtonContainer {
        padding: 20px;
        display: flex;
        gap: 20px;
        .deleteText {
          text-align: center;
        }
        .shelfDeleteButoon {
          background-color: #b8dc8c;
          border-radius: 5px;
          border: none;
          color: white;
          width: 80px;
          height: 30px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
        .shelfDeleteButoon:hover {
          background-color: #a3c88b;
        }
        .shelfCancelButoon {
          background-color: hsla(2, 36%, 33%, 0.6);
          border-radius: 5px;
          border: none;
          color: white;
          width: 80px;
          height: 30px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
        .shelfCancelButoon:hover {
          background-color: hsla(2, 36%, 33%, 0.7);
        }
      }
    }
  }
  .leftSection {
    display: flex;
    flex-direction: column;
    .textContainer {
      margin-left: 20px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      margin: auto;
      margin-top: none;
      margin-left: 19px;
      margin-right: 19px;
      .allText {
        display: flex;
        .text {
          display: flex;
          flex-direction: row;
          margin-left: 10px;
          font-size: 16px;
          font-weight: 600;
          .smallText {
            font-weight: 300;
            margin-left: 2px;
            margin-right: 3px;
          }
        }
        .dotContainer {
          display: flex;
          margin-left: 10px;
        }
      }
    }

    .percentageSection {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-left: 30px;
      .barContainer {
        width: 323px;
        height: 19px;
        background-color: #c3b6ac4d;
        overflow: hidden;
        position: relative;
        .progressText {
          margin-top: 1px;
          position: absolute;
          width: 100%;
          text-align: center;
          font-size: 13px;
          font-weight: 300;
          color: #4a3423;
        }
        .progressBar {
          margin: 1%;
          max-width: 98%;
          height: 13px;
          background-color: #1fc7a54a;
          width: 95%;
        }
      }
      .percentRating {
        color: #4a3423;
        font-size: 16px;
        font-weight: 400;
        margin-left: 10px;
      }
    }
  }
  .buttonContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    .deleteIconContainer svg{
      display: flex;
      align-items: center;
      justify-content: right;
      cursor: pointer;
      transition: fill 0.2s ease-in-out;
    }
    .deleteIconContainer:hover svg {
      fill: red;
    }

    .button{
      height: 27px;
      width: 100px;
      color: white;
      border-radius: 5px;
      border:none;
      background-color: #B8DC8CD4;
      margin-right: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .button:hover{
      background-color: #a3c88b;
    }
  }
 
}
