.mainContainer {
  font-family: Roboto serif;
  width: 400px;
  display: block;
  margin: auto;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    background-color: #c3b6ac4d;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 50px;
    font-weight: 900;
    color: #4a3423;
    margin: 20px 0;
    margin-top: 19vh;
  }
  .inputContainer {
    position: relative;
    margin-bottom: 27px;
  }
  .error {
    position: absolute;
    left: 5px;
    color: red;
    font-size: 11px;
  }

  input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition:
      border-color 0.3s,
      box-shadow 0.3s;
  }
  input:focus {
    border-color: #7b5c3254;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  }

  .buttons {
    display: flex;
    justify-content: center;

    .addButton {
      background-color: #b8dc8c;
      font-family: Roboto serif;
      font-size: 20px;
      font-weight: 400;
      border-radius: 30px;
      border: none;
      color: white;
      width: 150px;
      height: 46px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .addButton:hover {
      background-color: #a3c88b;
    }
    .cancelButton {
      background-color: #8f4f4a;
      font-family: Roboto serif;
      font-size: 20px;
      font-weight: 400;
      border-radius: 30px;
      border: none;
      color: white;
      width: 150px;
      height: 46px;
      margin-left: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .cancelButton:hover {
      background-color: #743836;
    }
  }
}
