.mainContainer {
  display: flex;
  font-family: Roboto serif;
  .myRequests {
    flex: 1;
    background-color: #8b7e744d;
    border-radius: 20px;
    margin: 20px;
    margin-right: 5px;
    .headTitle {
      background-color: #8b7e74e5;
      font-weight: 900;
      font-size: 20px;
      padding: 10px;
      border-radius: 20px;
    }
    .list {
      padding: 10px;
      .listItem {
        background-color: #ffffff8f;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 4px;
        cursor: pointer;
        transition:
          box-shadow 0.3s ease,
          transform 0.3s ease;
        p {
          padding: 1px;
        }
        .title {
          font-weight: 800;
        }
      }
      .listItem:hover {
        box-shadow: 0 4px 8px #00000033;
        transform: scale(1.01);
      }
    }
  }
  .activeRequest {
    flex: 2;
    background-color: #ffffff66;
    border-radius: 20px;
    margin: 20px;
    margin-left: 5px;
    padding: 10px;
    .currentRequest {
      .bookCover {
        width: 150px;
        height: auto;
        float: left;
        margin-right: 0px;
        box-shadow: 0 4px 6px #0000001a;
      }
      .mainInfo {
        background: #c4b6ac4d;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 8px;
        margin-top: 15px;
        margin-bottom: 10px;
        padding-left: 20px;
        .title {
          font-weight: 800;
          color: #333;
          margin-bottom: 5px;
        }
        .authors {
          color: #665243;
          font-weight: 400;
          margin-bottom: 5px;
        }

        .publisher {
          color: #0000008c;
          font-weight: 300;
          padding-bottom: 5px;
        }
      }
      .secondInfo {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        strong {
          font-weight: 600;
        }
        .genres {
          display: flex;
          flex-wrap: wrap;
          .genre {
            margin-left: 5px;
          }
        }
      }
      .description {
        background-color: white;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
      }
      .status {
        font-size: 20px;
        text-align: center;
        .pending {
          color: #007bff;
        }
        .accepted {
          color: #28a745;
        }
        .rejected {
          color: #dc3545;
        }
      }
    }
  }
}
