.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff8f;
  border-radius: 5px;
  font-family: Roboto serif;
  color: #543e2e;
  width: 100%;
  padding: 10px;
  gap: 10px;
  .popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .deletePopupContainer {
      background-color: white;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 400px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      .deleteButtonContainer {
        padding: 20px;
        display: flex;
        gap: 20px;
        .deleteText {
          text-align: center;
        }
        .shelfDeleteButoon {
          background-color: #b8dc8c;
          border-radius: 5px;
          border: none;
          color: white;
          width: 80px;
          height: 30px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
        .shelfDeleteButoon:hover {
          background-color: #a3c88b;
        }
        .shelfCancelButoon {
          background-color: hsla(2, 36%, 33%, 0.6);
          border-radius: 5px;
          border: none;
          color: white;
          width: 80px;
          height: 30px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
        .shelfCancelButoon:hover {
          background-color: hsla(2, 36%, 33%, 0.7);
        }
      }
    }
  }
  .chllengeContainer {
    display: flex;
    justify-content: space-between;
    .textContainer {
      display: flex;
      align-items: center;
      .allText {
        display: flex;
        flex-direction: column;
        .text {
          display: flex;
          flex-direction: row;
          margin-left: 10px;
          font-size: 16px;
          font-weight: 600;
          .smallText {
            font-weight: 300;
            margin-left: 2px;
            margin-right: 3px;
          }
        }
        .dotContainer {
          display: flex;
          margin-left: 10px;
        }
      }
    }
    .trashContainer {
      padding: 4px;
    }
    .trashContainer svg {
      display: flex;
      align-items: center;
      justify-content: right;
      cursor: pointer;
      transition: fill 0.2s ease-in-out;
    }
    .trashContainer:hover svg {
      fill: red;
    }
  }

  .percentageSection {
    display: flex;
    align-items: center;
    justify-content: center;
    .barContainer {
      width: 100%;
      height: 19px;
      background-color: #c3b6ac4d;
      overflow: hidden;
      position: relative;
      .progressText {
        margin-top: 1px;
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 13px;
        font-weight: 300;
        color: #4a3423;
      }
      .progressBar {
        margin: 1%;
        max-width: 98%;
        height: 13px;
        background-color: #1fc7a54a;
        width: 95%;
      }
    }
    .percentRating {
      color: #4a3423;
      font-size: 16px;
      font-weight: 400;
      margin-left: 10px;
    }
  }
}
