.reviewContainer {
  display: flex;
  width: 100%;
  border-top: 1px solid #4a3423c2;
  border-bottom: 1px solid #4a3423c2;
  background-color: #ffffff8f;
  .leftContainer {
    margin-left: 10px;
    width: 160px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      padding: 10px;
    }
    .details {
      text-align: center;
      p {
        color: #665243;
        margin-bottom: 5px;
      }
      span {
        cursor: pointer;
      }
      .likesAndComm {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: #4a3423;
        span {
          font-size: 20px;
          display: flex;
          gap: 5px;
        }
      }
    }
  }
  .rightContainer {
    margin-top: 15px;
    margin-right: 20px;
    width: 100%;
    cursor: pointer;
    .header {
      display: flex;
      margin-bottom: 5px;
      justify-content: space-between;
      color: #4a3423;
      font-weight: 600;
      .reviewRating {
        display: flex;
        flex-direction: row;
        p {
          margin-left: 5px;
          margin-top: 2px;
        }
      }
    }
    .reviewContent {
      background-color: white;
      border-radius: 5px;
      height: 80%;
      color: #0000008c;
      padding: 10px;
    }
  }
}
