.select__control {
  font-family: 'Roboto', sans-serif;
}

.select__menu {
  font-family: 'Roboto', sans-serif;
}

.select__placeholder {
  font-family: 'Roboto', sans-serif;
}

.select__single-value {
  font-family: 'Roboto', sans-serif;
}

.select__input {
  font-family: 'Roboto', sans-serif;
}
