.navbar {
  background-image: url(../../assets/navigationPicture.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
  .logo {
    margin: 0px;
    font-family: 'Coiny', sans-serif;
    font-size: 40px;
    color: #743836;
    text-decoration: none;
    cursor: pointer;
    text-shadow:
      2px 2px 0 #fff,
      -2px -2px 0 #fff,
      2px -2px 0 #fff,
      -2px 2px 0 #fff;
  }
  .links {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
